<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/styles/style.scss" />
    <title>Gallery</title>
</head>

<body>
    <div id="app"></div>

    <!-- react | react dom & bable -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- react | react dom & babel end -->


    <!--  jsx script calls -->
    <script type="text/jsx" src="jsx/components/image-box.jsx"></script>
    <script type="text/jsx" src="jsx/gallery.jsx"></script>
    <!-- jsx script calls end -->

    <!--  jsx render -->
    <script type="text/jsx">
        ReactDOM.render(
        <Gallery/>, document.getElementById("app"));
    </script>
    <!-- jsx render end -->

</body>

</html>