* {
    box-sizing: border-box;
}

.heading1 {
    text-align: center;
    font-family: cursive;
    color: violet;
    font-size: 40px;
    background: #efd2cf;
    height: 66px;
}

.heading2 {
    text-align: center;
    font-family: cursive;
    color: black;
    font-size: 25px;
}

.image {
    margin: 12px;
    box-shadow: 10px 10px 7px -4px #989191;
    border-radius: 5px;
    display: block;
    position: relative;
}

.gallery {
    margin: 10px;
    background-color: #ececebd1;
}

body {
    margin: 0;
    font-family: Arial;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 8px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

// .box {
//     position: absolute;
//     height: 170px;
//     width: 80px;
//     background-color: yellow;
//     opacity: 0;
// }
// .image:hover .box {
//     height: 170px;
//     width: 80px;
//     background-color: yellow;
//     opacity: 1;
//     z-index: 999;
// }